"*":
  "autocomplete-plus": {}
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "emmet"
    ]
    telemetryConsent: "no"
  date: {}
  editor:
    softWrap: true
  "exception-reporting":
    userId: "07bacdfd-a8e9-4286-8477-c57b4ac74ff3"
  minimap: {}
  "relative-numbers":
    softWrapsCount: false
    startAtOne: true
    trueNumberCurrentLine: false
  "vim-mode-plus": {}
  welcome:
    showOnStartup: false
