# Your snippets
#
# Atom snippets allow you to enter a simple prefix in the editor and hit tab to
# expand the prefix into a larger code block with templated values.
#
# You can create a new snippet in this file by typing "snip" and then hitting
# tab.
#
# An example CoffeeScript snippet to expand log to console.log:
#
# '.source.coffee':
#   'Console log':
#     'prefix': 'log'
#     'body': 'console.log $1'
#
# Each scope (e.g. '.source.coffee' above) can only be declared once.
#
# This file uses CoffeeScript Object Notation (CSON).
# If you are unfamiliar with CSON, you can read more about it in the
# Atom Flight Manual:
# http://flight-manual.atom.io/using-atom/sections/basic-customization/#_cson
#
# My snippets from here:
#
'.text.tex.latex':
  "mtestchen":
    "prefix": "item"
    "body": "\\\\item "

'.source.service':
  "Mount Options":
    "prefix": "Mount Options"
    'body': 'Options='
  'Mount Unit':
    'prefix': 'unit.mount'
    'body':"""
      [Unit]
      Description="${1:Unit Description}"
      ${2:Documentation="}${3:Unit Documentation"}

      [Mount]

      ${4:[Install]}
      ${5:action}=${6:.target}$0
    """

'.source.coffee':
  'Snippet block':
    'prefix': 'snippet_block'
    'body': """
      '${1:snippet_name}':
        'prefix': '${2:the_prefix}'
        'body': '${3:expression}'$0
    """
'.source.gfm':
  'Code in Text':
    'prefix': 'code_in_text'
    'body': '<code>${1:the code}</code>$0'
